<!DOCTYPE html>
<html>

<head>
    <% include ../../../includes/header.ejs %>
</head>

<body>
    <% include ../../../includes/nav.ejs %>
    <div class="container">
        <h1>Names:</h1>
        <ul id="nameList" class="">
        </ul>
        <h2>Submit a name</h2>
        <div class="actions_container">
            <input type="text" id="newName">
            <button id="submitName" onclick="submitName()">Submit</button>
        </div>
    </div>
    <!-- Make sure the socket.io-client script is before your script.
      This gives us access to io() in our script so we can use socket.io. -->
      <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script src="/js/pr11-client.js"></script>
</body>

</html>